In [ ]:
#Ejercicio 1
mat= 1855060
print("Hola mi nombre es Daniela Salazar y mi matricula es ", mat)

Hola mi nombre es Daniela Salazar y mi matricula es  1855060

In [ ]:
#Ejercicio 2
n1= int(input("Introduce un numero:"))
n2= int(input("Introduce otro numero:"))

print("Suma------->", n1, "+" ,n2,"=", n1+n2)
print("Resta------->", n1, "-" ,n2,"=", n1-n2)
print("Resta------->", n2, "-" ,n1,"=", n2-n1)
print("Multiplicacion---->", n1, "*" ,n2,"=", n1*n2)
print("Division------->", n1, "/" ,n2,"=", n1/n2)
print("Division------->", n2, "/" ,n1,"=", n2/n1)
print("Exponente------->", n1, "^" ,n2,"=", n1**n2)
print("Exponente------->", n2, "^" ,n1,"=", n2**n1)

Introduce un numero:2
Introduce otro numero:3
Suma-------> 2 + 3 = 5
Resta-------> 2 - 3 = -1
Resta-------> 3 - 2 = 1
Multiplicacion----> 2 * 3 = 6
Division-------> 2 / 3 = 0.6666666666666666
Division-------> 3 / 2 = 1.5
Exponente-------> 2 ^ 3 = 8
Exponente-------> 3 ^ 2 = 9

In [ ]:
#Ejercicio 3
suma=0
print("Multiplos de tres")
for i in range (1,11):
  print(3, "*", i, "=", i*3)
  suma=suma + (i*3)

print("\nSuma de los multiplos:", suma)

Multiplos de tres
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

Suma de los multiplos: 165

In [ ]:
#Ejercicio 4
n1= int(input("Introduce un numero: "))
if n1/2 == 0:
  print("El numero introducido es un numero par")
else :
  print("El numero introducido es un numero impar")

p=0
for n in range(1, n1):
  if (n1%n)==0:
    p=p+1

  
if(p>=2):
    print("El numero introducido No es primo")
else :
    print("El numero introducido  es primo")

Introduce un numero: 9
El numero introducido es un numero impar
El numero introducido No es primo

In [ ]:
#TUPLAS
#punto 1
print("\nPUNTO 1")

#punto 2
print("\nPUNTO 2")
c= 2, 4,6,8,10,12,14,16
l=len(c)
print("Primer valor: ", c[0])
print("Ultimo valor: ", c[l-1])

### Punto 3
print("\nPUNTO 3")
c=  "uno", "dos", "tres", 2, 4,6,8,10,12,14,16
c

### Punto 4
print("\nPUNTO 4")

PUNTO 1

PUNTO 2
Primer valor:  2
Ultimo valor:  16

PUNTO 3

('uno', 'dos', 'tres', 2, 4, 6, 8, 10, 12, 14, 16)